<ul class="thredded--personalized-navigation">
  <li class="<%= thredded_navbar_class(:unread) %>"><%= link_to t('thredded.personalized_navigation.unread.link'), unread_nav_path%></li>
  <li class="<%= thredded_navbar_class(:following) %>"><%= link_to t('thredded.personalized_navigation.following.link'), following_nav_path %></li>
  <li class="<%= thredded_navbar_class(:messageboards) %>"><%= link_to t('thredded.personalized_navigation.messageboards.link'), root_path %></li>
</ul>
