<ul class="thredded--personalized-navigation">
  <li class="<%= Thredded::PersonalizedNavigation.navbar_class(params, :unread) %>">
    <%= link_to t('thredded.personalized_navigation.unread.link'), Thredded::PersonalizedNavigation::Engine.routes.url_helpers.unread_nav_path%>
  </li>
  <li class="<%= Thredded::PersonalizedNavigation.navbar_class(params, :following) %>">
    <%= link_to t('thredded.personalized_navigation.following.link'), Thredded::PersonalizedNavigation::Engine
      .routes.url_helpers.following_nav_path %>
  </li>
  <li class="<%= Thredded::PersonalizedNavigation.navbar_class(params, :all_topics) %>">
    <%= link_to t('thredded.personalized_navigation.all_topics.link'), Thredded::PersonalizedNavigation::Engine
        .routes.url_helpers.all_topics_nav_path %>
  </li>
  <li class="<%= Thredded::PersonalizedNavigation.navbar_class(params, :awaiting_reply) %>">
    <%= link_to "Awaiting reply", Thredded::PersonalizedNavigation::Engine
        .routes.url_helpers.awaiting_nav_path %>
  </li>
  <li class="<%= Thredded::PersonalizedNavigation.navbar_class(params, :messageboards) %>">
    <%= link_to t('thredded.personalized_navigation.messageboards.link'), Thredded::Engine.routes.url_helpers.root_path %>
  </li>
</ul>
