<!DOCTYPE html>
<html>
  <head>
    <title>Thredded | <%= yield :thredded_page_title %></title>
    <%= stylesheet_link_tag "thredded-personalized-navigation", media: "all" %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'thredded' %>
    <%== Gravatar.prefetch_dns %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
