<% if Thredded.show_topic_followers %>
  <div class="thredded--topic-followers">
    <% if topic.followers.present? %>
      <%= t('thredded.topics.followed_by')%>
      <% topic.followers.each do |user| %>
        <%- if user != thredded_current_user %>
          <span class="thredded--follower user-<%= user.id %>">
            <%= user_mention(user) %>
              <a class="thredded--follower--remove" href="#" data-kick-path="<%= thredded_workgroup.kick_topic_path(topic.to_model.id, user_id: user.id) %>">
                <%= shared_inline_svg "thredded/follow.svg", class: "thredded--topics--follow-icon", role: "img" %>
                <%= shared_inline_svg "thredded/unfollow.svg", class: "thredded--topics--unfollow-icon", role: "img" %>
                <span class="thredded--sr-only">Remove</span>
              </a>
          </span>
        <%- end %>
      <% end %>
    <% else %>
      <%= t('thredded.topics.followed_by_noone')%>
    <% end %>
  </div>
<% end %>
