<%= content_tag :article,
    id: dom_id(topic),
    class: ['thredded--topics--topic', topic_css_classes(topic)],
    data: {topic: topic.id, messageboard: topic.messageboard_id} do %>

  <div class="thredded--topics--posts-count"><%= topic.posts_count %></div>

  <h1 class="thredded--topics--title">
    <span class="thredded--topic-title"><%= link_to topic.title, topic.path %></span>
    <cite class="thredded--messageboard-name">
      <%= messageboard_link topic.messageboard %>
    </cite>
    <svg viewBox="0 0 116 121" class="thredded--topics--follow-icon">
      <% if topic.followed? %>
        <use xlink:href="#thredded-follow-icon"/>
      </svg>
      <% else %>
        <use xlink:href="#thredded-unfollow-icon"/>
      <% end %>
    </svg>
  </h1>

  <% if topic.categories.any? %>
    <ul class="thredded--topics--categories">
      <%= render topic.categories %>
    </ul>
  <% end %>

  <% if topic.blocked? && topic.can_moderate? %>
    <span class="thredded--topics--moderation-state thredded--alert thredded--alert-danger">
      <%= render 'thredded/shared/content_moderation_blocked_state', moderation_record: topic.last_moderation_record %>
    </span>
  <% end %>

  <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>

  <div class='thredded--topic-post-and-last-user thredded--condensed'>
    <div class="thredded--topic-source">
      <cite class="thredded--topics--updated-by">
        <%= user_link topic.last_user %>,
        <%= time_ago topic.last_post_at %>
      </cite>
    </div>

    <div class="thredded--last-post">
      <%= render 'thredded/posts_common/content', post: topic.last_post if topic.last_post %>
    </div>
  </div>

<% end %>
