<%= content_tag :article,
                id:    dom_id(topic),
                class: ['thredded--topics--topic', topic_css_classes(topic)] do %>
  <div class="thredded--svg-definitions ">
    <%= inline_svg 'thredded/follow.svg', id:"thredded-follow-icon" %>
    <%= inline_svg 'thredded/unfollow.svg', id:"thredded-unfollow-icon" %>
  </div>

  <div class="thredded--topics--posts-count"><%= topic.posts_count %></div>

  <h1 class="thredded--topics--title">
    <cite class="thredded--messageboard-name">
      <%= messageboard_link topic.messageboard %>:
    </cite>
    <%= link_to topic.title, topic.path %>
    <div class="thredded--topic-follow-icon">
      <svg viewBox="0 0 116 121">
        <% if thredded_current_user.following?(topic) %>
          <use xlink:href="#thredded-follow-icon"/>
        <% else %>
          <use xlink:href="#thredded-unfollow-icon"/>
        <% end %>
      </svg>
    </div>
  </h1>

  <% if topic.categories.any? %>
    <ul class="thredded--topics--categories">
      <%= render topic.categories %>
    </ul>
  <% end %>

  <% if topic.blocked? && topic.can_moderate? %>
    <span class="thredded--topics--moderation-state thredded--alert thredded--alert-danger">
      <%= render 'thredded/shared/content_moderation_blocked_state', moderation_record: topic.last_moderation_record %>
    </span>
  <% end %>

  <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>
  <div class="thredded--topic-source">
    <cite class="thredded--topics--updated-by">
      <%= user_link topic.last_user %>,
      <%= time_ago topic.updated_at %>
    </cite>
  </div>

  <div class="thredded--last-post">
    <%= render 'thredded/posts_common/content', post: topic.last_post if topic.last_post %>
  </div>


<% end %>
