<%= content_tag :article,
    id:    dom_id(topic),
    class: ['thredded--topics--topic', topic_css_classes(topic)],
    data: {topic: topic.id, messageboard: topic.messageboard_id} do %>

  <div class="thredded--topic--read-state-toggle">
    <%= shared_inline_svg("thredded/workgroup/envelope-open-o.svg", class: "thredded--topics--read-icon thredded--icon", role: "img", viewBox: "0 0 1792 1792",  title: "Mark as read") %>
    <%= shared_inline_svg("thredded/workgroup/envelope-o.svg", class: "thredded--topics--unread-icon thredded--icon", role: "img", viewBox: "0 0 1792 1792", title: "Mark as unread") %>
  </div>

  <h1 class="thredded--topics--title">
    <span class="thredded--topic-title"><%= link_to topic.title, topic.path %></span>
    <% unless messageboard_or_nil #don't show if being viewed in the context of a messageboard%>
      <cite class="thredded--messageboard-name">
        <%= link_to topic.messageboard_name, topic.messageboard_path %>
      </cite>
    <% end %>
    <a href="#" class="thredded-follow-toggle js-thredded-follow-toggle">
      <%= shared_inline_svg "thredded/follow.svg", class: "thredded--topics--follow-icon", role: "img" %>
      <%= shared_inline_svg "thredded/unfollow.svg", class: "thredded--topics--unfollow-icon", role: "img" %>
    </a>
  </h1>

  <% if topic.categories.any? %>
    <ul class="thredded--topics--categories">
      <%= render topic.categories %>
    </ul>
  <% end %>


  <% if topic.blocked? && topic.can_moderate? %>
    <span class="thredded--topics--moderation-state thredded--alert thredded--alert-danger">
      <%= render 'thredded/shared/content_moderation_blocked_state', moderation_record: topic.last_moderation_record %>
    </span>
  <% end %>

  <%= render partial: 'thredded/topics/followers', locals: {topic: topic} %>

  <% if topic.last_post %>
    <div class="thredded--topic-last-post-with-controls">
      <div class="thredded--topic-controls">
        <a class="thredded--topic--read-state-toggle thredded--topic--mark-as-read thredded--button" data-post-path="<%= topic.mark_as_read_path %>">
          <%= shared_inline_svg("thredded/workgroup/envelope-open-o.svg", class: "thredded--topics--read-icon thredded--icon", role: "img", viewBox: "0 0 1792 1792") %>
          Mark as Read
        </a>
        <a class="thredded--topic--read-state-toggle thredded--topic--mark-as-unread thredded--button" data-post-path="<%= topic.mark_as_unread_path %>">
          <%= shared_inline_svg("thredded/workgroup/envelope-o.svg", class: "thredded--topics--unread-icon thredded--icon", role: "img", viewBox: "0 0 1792 1792") %>
          Mark as Unread
        </a>
        <a class="thredded--topic--view-button thredded--button" href="<%= topic.reply_path %>">View/Reply</a>
        <a href="#" class="js-thredded-follow-toggle thredded--topic--follow thredded--button">
          <%= shared_inline_svg "thredded/follow.svg", class: "thredded--icon", role: "img" %>
          Follow
        </a>
        <a href="#" class="js-thredded-follow-toggle thredded--topic--unfollow thredded--button">
          <%= shared_inline_svg "thredded/unfollow.svg", class: "thredded--icon", role: "img" %>
          Stop following
        </a>
      </div>
      <div class='thredded--topic-post-and-last-user thredded--condensable thredded--condensable--condensed'>
        <div class="thredded--topic-source">
          <cite class="thredded--topics--updated-by">
            <%= topic.last_user.thredded_display_name %>
            <%= time_ago topic.last_post_at %>
          </cite>
        </div>

        <div class="thredded--last-post">
          <%= render 'thredded/posts_common/content', post: topic.last_post if topic.last_post %>
        </div>
        <div class="thredded--condensable--overflow-only">
          <span class="thredded--condensable--expand">Read all</span>
          <span class="thredded--condensable--condense">Read less</span>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
